/*Reset CSS
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,  figure, figcaption, footer, header, hgroup,  menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align:baseline;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block;}
body {line-height: 1;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,q:before, q:after {content: '';content: none;}
table {border-collapse: collapse;border-spacing: 0;}
/*Termina el reset*/

body{
    font-family: 'Poppins', sans-serif;
}

.Header  {
	background: linear-gradient(to right, #16d39a, #04b4b1);
	height: 56px;
	min-height: 56px;
	border-bottom: 1px solid #000000;
}

.Header > h2 {
	font-size: 1.9em;
	color: #ffffff;
	float: left;
	margin-top: 13px;
	margin-left: 20px;
}

.Header > i {
	font-size: 40px;
	width: 40px;
	height: 40px;
	color: #ffffff;
	margin-top: 8px;
	margin-right: 20px;
	border-radius: 80px;
}

.Header > a {
	font-size: 15px;
	width: 30px;
	color: #ffffff;
	margin-right: 30px;
	font-size: 2.2em;
}

.Header.btn-salir {
    margin-right: 20px;
}

.Header .btn-salir > i {
	font-size: 33px;
	width: 30px;
	color: #000000;
	background-color: transparent;
	margin-top: 8 px;
}

/*.Nav {
	float: left;
	min-height: 100vh;
	min-width: 280px;
	width: 286px;
	background-color: #000000;
	border-right: #000000 2px solid;
	box-shadow: 0px 71px 30px 10px rgba(0,0,0,.6), 0 7px 10px -5px rgba(80,80,80,.4);
}*/

.Nav{
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	width: 90px;
	background: #11101D;
	padding: 6px 14px;
	z-index: 99;
	transition: all 0.5s ease;
	float: left;  
  	background-color: #000000;
  	border-right: #000000 2px solid;
  	box-shadow: 0px 71px 30px 10px rgba(0,0,0,.6), 0 7px 10px -5px rgba(80,80,80,.4);  
  }
.Nav.open{
	width: 286px;
}
.Nav .Logo{
	height: 60px;
	display: flex;
	align-items: center;
	position: relative;	
	color: #ffffff;
	border-bottom: #fff 1px solid;
	padding: 0px 10px;
	margin: 5px 10px;
	justify-content: center;
}
.Nav .Logo .icon{
	font-size: 40px;	
	opacity: 0;
	transition: all 0.5s ease;
}

.Nav .Logo .logo_name{
	font-size: 1.9em;
	margin: 0px 20px;
	padding: 11px;
	text-align: center;	
	color: #fff;	
	font-weight: 600;
	opacity: 0;
	transition: all 0.5s ease;
}
.Nav.open .Logo .icon,
.Nav.open .Logo .logo_name{
	opacity: 1;
}
.Nav .Logo #btnM{
	position: absolute;
	top: 50%;	
	transform: translateY(-50%);
	font-size: 22px;
	transition: all 0.4s ease;
	font-size: 23px;
	text-align: center;
	cursor: pointer;
	transition: all 0.5s ease;
}
.Nav.open .Logo #btnM{
	text-align: right;
	right: 0;
}


.FondoNav img{
	height: 100vh;
	width: 287px;
	opacity: 0.3;
	filter: grayscale(60%);
	position: absolute;
}

.Section {
	background-color: #eeeeee;
	height: 100vh;	
	overflow: auto;
	margin-left: 90px;
  width: calc(100% - 90px);
  transition: all 0.5s ease;
  z-index: 2;
}

.Nav.open ~ .Section{
	margin-left: 286px;
	width: calc(100% - 286px);
  }
  
.BarraNavegacion{
	padding-top: 20px;
	
}

.BarraNavegacion button {
	display: block;
	border-radius: 8px;	
	margin: 5px 0px;	
	text-align: left;
}

.Nav.open .BarraNavegacion button {
	display: block;
	border-radius: 8px;	
	margin: 5px 0px;
	width: 260px;
	text-align: left;
}

.Nav .BarraNavegacion button > span{
	color: #fff;
	font-size: 0px;
	font-weight: 400;
	white-space: nowrap;
	opacity: 0;
	pointer-events: none;
	transition: 0.4s;
  }
  .Nav.open .BarraNavegacion button > span{
	opacity: 1;
	pointer-events: auto;
	font-size: 17px;
  }


.btn {
	width: 100%;
	height: 50px;
	font-family: 'Poppins', sans-serif;
	font-size: 18px;
	color: #ffffff;
	border-radius: 10px;
	background-color: transparent;
	border-color: transparent;
	transition: .5s;
}

.btn > i{
	font-size: 30px;
	width: 30px;	
}

.btn > span {
	padding-left: 7px;
	vertical-align: text-top;
}

.btn:hover {
	background: #16d39a;
}

.ItemName{
	width: 180px;
	height: 20px;
	font-size: 1.1em;
	color: white;
	margin-left: 50px;
	padding-top: 13px;
}

.Contenedor{
	margin-top: 10px;
    padding: 15px 15px 0 15px;
    height: 100vh-56px;
}

.Formulario {
    width: 95%;
    margin-bottom: 30px;
    margin-top: 30px;
    background-color: #ffffff;
    border-radius: 7px;
    margin: auto;
    box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(80,80,80,.4);

}

.Titulo {
	margin: 20px 30px 0 30px ;
    padding-top: 5px;
    position: relative;
    margin-bottom:30px;
}

.Cont-icon {
	border-radius: 3px;
    margin-top: -25px;
    margin-right: 25px;
    float: left;
    box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(80,80,80,.4);
    background: linear-gradient(60deg,#1916d3, #0450b4);
    width: 70px;
    height: 70px;
    padding: auto;
}

.Cont-icon > i {
	color: #ffffff;
	font-size: 39px;
	margin-top: 15px;
	margin-left: 12px;
}	 

.Name-titulo {
	margin-top: 15px;
    color: #3c4858;
    font-size: 1.3em;
}

.Contenido {
	margin: 0px 10px; 
	padding-bottom: 15px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	background-color: #ffffff;
	vertical-align: text-top;
}

.Contenido > form {
	width: 95%;	
	display: flex;
  	justify-content: center;
}

.Filtros .Atributo .Select-atributo{
	border: none;
	font-family: 'Poppins', sans-serif;
	font-size: 1.5em;
}

.Filtros .Filas > font {
	font-family: 'Poppins', sans-serif;
	font-size: 1.5em;
}

.Filtros .Filas > input {
	width: 50px;
}

.Tabla {
	width: 100%;
	height: 500px;
}

.Tabla_inforuta {
	width: 95%;
	margin: auto;
}

.Tabla_inforuta>thead>tr>td {
	padding: 15px 8px;
	vertical-align: middle;
	border-bottom: #ddd 1px solid;
	font-size: 1.1em;
	color: #26a07b;
}

.Tabla_inforuta>thead {
	margin-top: 10px;
}

.Tabla_inforuta>tbody>tr>td {
    padding: 15px 8px;
	vertical-align: middle;
	border-bottom: #ddd 1px solid;
}

.BarraInferior {
	padding-top: 20px;     
	padding-left: 50px;                                                     
}

.BarraBotonMod {
	padding-top: 50px;  
	padding-left: 50px;                                                        
}
.btn_form{
	width: 150px;
	height: 50px;
	border-radius: 15px;
	outline: none;
	border: none;
	background-color: #041eb4;
	background-size: 200%;
	font-size: 1.8rem;
	color: #fff;
	font-family: 'Poppins', sans-serif;
	text-transform: uppercase;
	margin: 1rem 2rem;
	cursor: pointer;
	transition: .5s;
	box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(80,80,80,.4);
}
.btn_form:hover{
	background-position: right;
}

.btn_cancelar{	
    width: 150px;
	height: 50px;    
	border-radius: 25px;
	outline: none;
	border: none;
	background-size: 200%;
    background-color:#041eb4;
	font-size: 1.8rem;
	color: #fff;
	font-family: 'Poppins', sans-serif;
	text-transform: uppercase;
	margin: 1rem 0;
	cursor: pointer;
	transition: .5s;
	box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(80,80,80,.4);
}
.btn_cancelar:hover{
	background-position: right;
}

.mimapa {	
	width: 75%;
	height: 570px;
	margin: 20px auto;
	border-radius: 2rem;
}

.CuadroTarifa_Horario {
	vertical-align: top;
	width: 20%;
	height: 600px;
	margin: 20px auto;
	border-radius: 2rem;
	padding-top: 20px;     
}

.lblText {
	font-size:1.9rem;
}

.optText {
	font-size:1.9rem;
	color: #000000;
	border-color: transparent;
}

.BarraSelecRuta {
	padding-top: 2px;  
	                                                        
}

#caja {height: 500px;}